:root {
    
    /* ### Theme 3 */
    /* #### Backgrounds */
    --Very-dark-violet-main-background: hsl(268, 75%, 9%);
    --Very-dark-violet-toggle-background-keypad-background-screen-background: hsl(268, 71%, 12%);
    /* #### Keys */
    --Dark-violet-key-background: hsl(281, 89%, 26%);
    --Vivid-magenta-key-shadow: hsl(285, 91%, 52%);
    --Pure-cyan-key-background-toggle: hsl(176, 100%, 44%);
    --Soft-cyan-key-shadow: hsl(177, 92%, 70%);
    --Very-dark-violet-key-background: hsl(268, 47%, 21%);
    --Dark-magenta-key-shadow: hsl(290, 70%, 36%);
    /* #### Text */
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White-text: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: "League+Spartan",sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-container h3 {
    margin-right: 10rem;
    font-size: 12px;
}

.theme-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.theme-container h3 {
    margin-right: 1rem;
    font-size: 12px;
}


.input {
    height: 20px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color:var(--Very-dark-desaturated-blue-toggle-background-keypad-background);
    position: relative;
    left: 10px;
}

[id="theme1"], [id="theme2"], [id="theme3"] {
    appearance: none;
    position: absolute;
    width: 15px;
    cursor: pointer;
    height: 15px;
    border-radius: 30px;
    top: 2px;
    transition: 0.5s;
}
  
[id="theme1"] { 
    left: 10px;
}
  
[id="theme2"] {
    left: 33px;
}
  
[id="theme3"] {
    left: 55px;
}

input:checked {
    background-color:var(--Pure-cyan-key-background-toggle);
}
  
label {
    position: absolute;
    top: -16px;
}
  
label[for="theme1"] {
    left: 13px;
    margin-inline: -0.2rem;
}
  
label[for="theme2"] {
    left: 20px;
    margin-inline: 1.2rem;
}
  
label[for="theme3"] {
    left: 26px;
    margin-inline: 2.7rem;

}

.display-screen {
    width: 100%;
}

.display {
    margin: 20px 1px 10px;
    height: 100px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 32px;
    font-weight: 800;
    overflow-x: scroll;
}

.display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    width: 130px;
}

button#reset {
    width: 130px;
}

.input {
    background-color: var(--Very-dark-violet-toggle-background-keypad-background-screen-background);
}

input:checked {
    background-color: var(--Very-dark-violet-toggle-background-keypad-background-screen-background);
}


/* theme 3  */

body{
    background-color: var(--Very-dark-violet-main-background);
}

.header, .theme-container {
    color: var( --Light-yellow);
}

.display{
    color:var(--Light-yellow) ;
    background-color: var( --Very-dark-violet-toggle-background-keypad-background-screen-background);
}

table{
    border-radius: 7px;
    background-color: var( --Very-dark-violet-toggle-background-keypad-background-screen-background);
}

.btn-number, .btn-operator {
    background-color: var(--Very-dark-violet-key-background);
    color:var(--Light-yellow);
    box-shadow: 0 5px 0px var( --Vivid-magenta-key-shadow);
}

.btn-operator-del , .btn-reset{
    color: var(--White);
    box-shadow: 0px 5px 0px var(--Dark-magenta-key-shadow) ;
    background-color: var(--Dark-violet-key-background);
}

.btn-equal {
    color: #000;
    box-shadow: 0px 5px 0px var(--Soft-cyan-key-shadow) ;
    background-color: var(--Pure-cyan-key-background-toggle);
}